{% load static %}
{% load car_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js\valute.js' %}" defer></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    {% block scripts %}
    {% endblock %}
    <style>
        .search_container input{
            background-image: url("{% static 'images/search_icon.png' %}");
            background-repeat:no-repeat;
            background-size: 30px;
            background-position: 3px;
        }
    </style>
</head>
<body>

    {% block mainmenu %}

        <div class="header">

            <a href="{% url 'home' %}">
                <div class="header_container">
                    <img id="logo" src="{% static 'images/logo.png' %}" height="40px">
                    <div class="logo_name">
                        Dongelek.kz
                    </div>
                </div>
            </a>

            <div class="header_container">
                {% for m in menu %}
                    <a href="{% url m.url_name %}">
                        <div class="menu">{{m.title}}</div>
                    </a>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'add_car' %}">
                        <div class="menu">Add an add</div>
                    </a>
                    <a href="{% url 'your-cart' %}">
                        <div class="menu">Your cart</div>
                    </a>
                {% endif %}
            </div>
            <div class="header_container last_header_container">

                <select name="currency" id="currency_select" onchange="changeValute()">
                    <option value="none" selected disabled hidden>Select a valute</option>
                    {% for valute in valutes %}
                        <option value='{"value":{{ valute.value }}, "nominal":{{ valute.nominal }}, "name":{{valute.char_code}}}' nominal="{{ valute.nominal }}" name="{{ valute.char_code }}">{{ valute.char_code }}</option>
                    {% endfor %}
                </select>

                <!-- user aty wygyp turady -->
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout'%}">
                        <div class="menu">Logout</div>
                    </a>
                    <a href="{% url 'profile' %}">
                        <div class="menu">{{user.username}}</div>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <div class="menu">Log in</div>
                    </a>
                    <a href="{% url 'register' %}">
                        <div class="menu">Register</div>
                    </a>
                {% endif %}
            </div>
        </div>
        <center>
            <div class="search_container">
                <form action="{% url 'searchbar' %}" method="get">
                    <input type="text" name="search" placeholder="Search..."/>
                    <button type="submit">Search</button>
                </form>
            </div>
        </center>

    {% endblock mainmenu %}


    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>