{% extends 'car/base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js\rating.js' %}" defer></script>
    <script src="{% static 'js\addBasket.js' %}" defer></script>
    <script src="{% static 'js\deleteBasket.js' %}" defer></script>
    <script src="{% static 'js\email.js' %}" defer></script>
    <script src="{% static 'js\photos.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div id="car_id" car="{{ car.pk }}"></div>
    <div class="subcategory_cars">
        <div class="in_category_car" onclick="location.href='{{ car.get_absolute_url }}'">
            <div>
                <img src="{{car.main_image.url}}" alt="{{car.name}}" id="main_image" width="320px" height="240px" >
                <div id="photos_container">
                    <img class="photos" src="{{car.main_image.url}}" alt="{{car.name}}" width="64px" height="48px">
                    {% for photo in photos %}
                        <img class="photos" src="{{ photo.image.url }}" alt="{{car.name}}" width="64px" height="48px">
                    {% endfor %}
                </div>
            </div>
            <div class="in_category_car_main_information">
                <div class="in_category_car_name">
                    {{car.name}}
                </div>
                <div class="in_category_car_short_info">
                    {{car.year}} year, {{car.engine_capacity}}L, {{car.run}} kilometre
                </div>
                <div class="in_category_car_short_info">
                    {{car.description|truncatewords:50}}
                </div>
                <div class="in_category_car_date_created">
                    {{car.time_created}}
                </div>
            </div>
            <div class="in_category_car_price">
                <div class="price">
                    {{ car.price }}
                </div>
                <div class="currency">KZT</div>
            </div>
        </div>
    </div>
    {% if rating %}
        <div>
            {{car.get_average_rating}}
        </div>
    {% else %}
        <div>
            No rating
        </div>
    {% endif %}
    <div class="seller_info" seller-email="{{seller.email}}" seller-username="{{seller.username}}">
        {{seller.username}}
        {{seller.email}}
    </div>
    <br>
    {% if request.user.is_authenticated %}
        {% if cart %}
            <form action="" method="post" class="cart-form-delete">
                {% csrf_token %}
                <button type="submit" class="my-btn-cart-delete" >
                    Delete from your shopping cart
                </button>
            </form>
        {% else %}
            <form action="" method="post" class="cart-form">
                {% csrf_token %}
                <button type="submit" class="my-btn-cart" >
                    Add to your shopping cart
                </button>
            </form>
        {% endif %}
        <div id="cart-confirm-box">

        </div>
        <br>
        <form action="" method="post" class="email-form">
            {% csrf_token %}
            <button type="submit" class="my-btn-email" >
                Send email
            </button>
        </form>
        
        <div id="email-confirm-box">

        </div>
        <br>

        <div>

        </div>
        <div class="rating_container">
            <form action="" method="post" class="rate-form">
                {% csrf_token %}
                <button type="submit" class="my-btn">
                    <img height="50px" id="one" src="{% static 'images\rating\star_stroke.png' %}" alt="" data-original="{% static 'images\rating\star_filled.png' %}">
                </button>
                <button type="submit" class="my-btn">
                    <img height="50px" id="two" src="{% static 'images\rating\star_stroke.png' %}" alt="" data-original="{% static 'images\rating\star_filled.png' %}">
                </button>
                <button type="submit" class="my-btn">
                    <img height="50px" id="three" src="{% static 'images\rating\star_stroke.png' %}" alt="" data-original="{% static 'images\rating\star_filled.png' %}">
                </button>
                <button type="submit" class="my-btn">
                    <img height="50px" id="four" src="{% static 'images\rating\star_stroke.png' %}" alt="" data-original="{% static 'images\rating\star_filled.png' %}">
                </button>
                <button type="submit" class="my-btn">
                    <img height="50px" id="five" src="{% static 'images\rating\star_stroke.png' %}" alt="" data-original="{% static 'images\rating\star_filled.png' %}">
                </button>
            </form>
            <br>
            <div id="confirm-box"></div>
        </div>
        <form action="{{ car.get_absolute_url }}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            <button type="submit">Comment</button>
        </form>
    {% endif %}
    <div class="comments_container">
        {% for comment in comments %}
            <div class="comment_container">
                <div class="comment_author">
                    {{comment.author}}
                </div>
                <div class="comment_date">
                    {{comment.date}}
                </div>
                <div class="comment">
                    {{comment.comment}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
