{% extends 'car/base.html' %}
{% block content %}
    <h1 class="">Cities</h1>
    <div class="">
        {% for city in cities %}
            <a href="{{ city.get_absolute_url }}"/>
                <div class="">
                    {{city.name}}
                </div>
            </a>
        {% endfor %}
    </div>
    <h1 class="">Brands</h1>
    <div class="">
        {% for brand in brands %}
            <div class="">
                <a href="{{ brand.get_absolute_url }}">
                    <div class="">
                        <img width="200px" height="auto" class="index_brand_logo" src="{{ brand.logo.url }}" alt="{{ brand.name }}">
                    </div>
                    <h4 class="index_brand_name">{{brand.name}}</h4>
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}