{% extends 'car/base.html' %}
{% load static %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js\deleteCar.js' %}" defer></script>
{% endblock %}
{% block content %}
<a href="{% url 'update-currency' %}">
    <button>Update Currency Data</button>
</a>
<form action="" method="post" id="delete-form">
    {% csrf_token %}
    {% for car in cars %}
                <div class="in_category_car" onclick="location.href='{{ car.get_absolute_url }}'">
                    <div>
                        <img src="{{car.main_image.url}}" alt="{{car.name}}" width="320px" height="240px">
                    </div>
                    <div class="in_category_car_main_information">

                        <div class="in_category_car_name">
                            {{car.name}}
                        </div>
                        <div class="in_category_car_date_created">
                            <div class="row">
                                <div class="col-md-6">{{car.time_created}}</div>
                                <div class="col-md-6">{{car.get_comments}} Comments</div>
                            </div>
                        </div>

                        <div class="in_category_car_rating">
                            <div class="row">
                                <div class="col-md-6">{{car.get_count_rating}} Rated</div>
                                <div class="col-md-6">{{car.get_average_rating}} Average</div>
                            </div>
                        </div>

                        <div class="in_category_car_view">
                            <div class="row">
                                <div class="col-md-6">{{car.get_visiters}} Views</div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button type="submit" class="delete_button" id="{{car.pk}}">Delete</button>
                <a href="{{ car.get_absolute_update_url }}">
                    <div>Update</div>
                </a>
                <a href="{{ car.get_absolute_add_url }}">Add new photos</a>
    {% endfor %}
    </form>
    <form action="{%url 'list_users' %}" method="get">
        {% csrf_token %}
        <button type="submit" name="product_id" value="{{car.pk}}">Added users list</button>
    </form>
{% endblock %}